/* Editor section */
.editor-containor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  @media screen and (min-width: 768px) {
    /* Increase the size of the editor section on larger screens */
    .editor-containor {
      max-width: 800px;
      margin: 20px auto;
    }
  }
  
  /* Canvas area */
  .canvas-area {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
  }
  
  canvas {
    display: block;
    width: 100%;
    height: auto;
  }
  
  /* Text input box */
  .box-text-input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .input-text {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Info section */
  .div-info {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }
  
  .div-info h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  
  .span-font-size,
  .span-line-pos,
  .span-text-pos {
    font-weight: bold;
    color: #007bff;
    
  }
  
  /* Buttons */
  .box-buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .btn-style {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-style:hover {
    background-color: #0056b3;
  }
  
  .btn-action {
    padding: 8px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-action:hover {
    background-color: #0056b3;
  }
  
  .color-input {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  
  .select-font {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
  }
  
  @media screen and (max-width: 768px) {
    /* Adjust the font size and padding of buttons on smaller screens */
    .btn-style,
    .btn-action,
    .color-input,
    .select-font {
      font-size: 14px;
      padding: 8px;
    }
  }
  