
.main-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: orange;
    grid-column: 2;
}

.main-header label {
    font-size: 1.3rem;
    font-weight: bold;
}

.div-search{
    display: flex;
    gap:20px;
}
.div-search input{
    
    width: 150%;
}

.main-header ul{
    display: flex;
}

ul > *{
    list-style-type: none;
    margin: 0 15px;
    
}

a{
    text-decoration: none;
    color: black;
}